NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu-anon-key
NEXT_PUBLIC_BASE_URL=https://gather.mtosystems.com.mx
NEXT_PUBLIC_BACKEND_URL=https://gather-api.mtosystems.com.mx
NEXT_PUBLIC_AGORA_APP_ID=tu-agora-app-id
APP_CERTIFICATE=tu-agora-app-certificate
SERVICE_ROLE=tu-service-role-key
